/**
 * Projects and versions scroll.
 * Author: Pedro Rafael Abadia
 * 
 */
li {
  margin: 1em 0;
}
/*a,
a:visited {
  color: #000;
  }
  a.active,
  a:hover {
    color: #666;
    }*/
.tse-content {
  background-color: #DDD;
}
.wrapper-col {
  float: left;
  width: 250px;
  margin: 0 20px 20px 0;
}
.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  padding: 8px 12px;
  line-height: 1;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  }
  .btn:hover {
    background: #666;
    color: #fff;
    }

/* Scrollable elements
*****************************************************************/
.wrapper {
  margin: 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.wrapper {
  width: 34%; /* example of overwiting default width */
  display: inline-block;
  }
  .wrapper li {
    margin: 0;
    padding: 10px;
    }
    .wrapper li.odd {
      background: #f0f0f0;
      }
/* Video list scroll and table 
*****************************************************************/*
#list {margin-left:1%; position:relative;}
#list h1 {margin-bottom:1.0em;}
#list ul {list-style:none;position:relative;left:0%;display: list-item;}
#list table {display:none;position: absolute;left:100%;top:0%;background:#484848;border-radius:0.8125em;border:solid 0.125em #c6d73d;}
#list ul li a {color:#929292;text-decoration:none;font-weight: bold;}
#list ul li:hover a {color: #c6d73d;}
#list th a {color: #929292;}
#list th a:hover {color: #c6d73d;}

.vercom th {text-align:center;color:#000000;font:bold 0.825em Verdana;vertical-align: top;}
.vercom td {vertical-align: top;}

.vercom th a {color: #929292;}
.vercom th a:hover {color: #c6d73d;}
.vercom th {text-align:center;color:#000000;font:bold 0.825em Verdana;vertical-align: top;}
.vercom td {vertical-align: top;}
.vercom .comments {display: none; text-align: center;}
.vercom textarea {background-color: #929292; border:solid 0.125em #c6d73d}

.proyectos li a {color:#929292;text-decoration:none; font-size:1.0em;}
.proyectos li:hover a {color: #c6d73d;}